/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E2326;
    background-alt: #2E383C;
    foreground:     #D3C6AA;
    selected:       #A7C080;
    active:         #A7C080;
    urgent:         #E67E80;
}
